ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0;
    flex-flow: row wrap;
    justify-content: center;

    border: 2px solid blue;
}
li{
    border: 1px solid #333;
    margin: 1em;
    padding: 1em;
}
.flex2{
    border: 10px dashed gold;
    order:5; /*จะเห็นว่า  class flex2 ไม่ได้อยู่ประจุที่เดียวกันจน ใช้ คำสั่ง order */
}